@import "../js/code-block/code-block";

.multiline {
  white-space: pre-wrap;
}

[contenteditable="true"]:empty:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0"; // Non-breaking space
}

[contenteditable="true"]:focus {
  border: 1px solid #007bff;
  border-radius: 4px;
  outline: none;
  min-width: 20px;
}

textarea {
  width: 100%;
  height: 100%;
  // resize: none; /* Disable textarea resizing if not needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.bordered-tab-contents > .tab-content > .tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.bordered-tab-contents > .nav-tabs {
  margin-bottom: 0;
}

.nav-link {
  position: relative;
  padding-right: 25px;
}

//////////////////////////////////////////
///
/// custom
/* CSS code for the popup toolbar */
.popup-toolbar {
  display: none; /* hide the toolbar by default */
  position: absolute; /* position the toolbar relative to the parent element */
  top: -40px; /* adjust the top offset as needed */
  left: 0; /* adjust the left offset as needed */
  background-color: white; /* set the background color of the toolbar */
  border: 1px solid #ccc; /* set the border of the toolbar */
  border-radius: 4px; /* set the border radius of the toolbar */
  padding: 4px; /* set the padding of the toolbar */
}

.popup-btn {
  display: inline-block; /* display the buttons inline */
  width: 24px;
  height: 24px;
  margin: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer; /* change the cursor to pointer when hovering over the buttons */
}

.popup-btn:hover {
  background-color: #eee;
}

.popup-btn.add-img:hover {
  background-color: #cbf1bc;
}

.popup-btn.add-text:hover {
  background-color: #ffd0d0;
}

.popup-btn.add-code:hover {
  background-color: #c3a0e4;
}

.popup-btn.delete:hover {
  background-color: #e61c1c;
}

.popup-btn svg {
  fill: currentColor; /* use the current color of the button for the svg icon */
  stroke: currentColor; /* use the current color of the button for the svg icon */
}
