<template id="paragraph">
    <br />
    <p class="multiline">{{content}}</p>
</template>

<template id="warning">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{elem.data.title}}</h4>
        <p>{{elem.data.message}}</p>
    </div>
</template>

<template id="delimiter">
    <hr />
</template>

<template id="heading">
    <{{elem.data.level}}>{{content}}</{{elem.data.level}}>
</template>

<template id="blockquote">
    <blockquote class="blockquote text-${elem.data.alignment}">
        <p class="mb-0">{{elem.data.text}}</p>
        <footer class="blockquote-footer">{{elem.data.caption}}</footer>
    </blockquote>
</template>

<template id="raw-html">
    <pre class="language-html"><code>{{html}}</code></pre>
</template>

<template id="code-block">
    <pre class="language-{{elem.data.language}}"><code>{{elem.data.code}}</code></pre>
</template>

<template id="checklist">
    <ul>
        {{#each elem.data.items}}
        {{#if this.checked}}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="{{elem.id}}-{{checklist.text}}" {{checked}}>
            <label class="form-check-label" for="{{elem.id}}-{{checklist.text}}">
                {{checklist.text}}
            </label>
        </div>
        {{/if}}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="{{elem.id}}-{{checklist.text}}" {{checked}}>
            <label class="form-check-label" for="{{elem.id}}-{{checklist.text}}">
                {{checklist.text}}
            </label>
        </div>
        {{/each}}
    </ul>
</template>

